<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="cn.kiway.marketplace"
>

    <application android:allowBackup="true"
                 android:label="@string/app_name"

                 android:supportsRtl="true"
    >
        <activity android:name=".activity.MarkePlaceActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.MarkePlaceViewActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.DownloadActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.androidev.download" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
