<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.kiway.mdm"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="com.huawei.permission.sec.MDM" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <meta-data
            android:name="hwc-theme"
            android:value="androidhwext:style/Theme.Emui" />

        <activity android:name="cn.kiway.mdm.SampleMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.kiway.mdm.LicenseActivity"></activity>

        <receiver
            android:name="cn.kiway.mdm.SampleDeviceReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>