<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zk.myweex">

    <uses-sdk tools:overrideLibrary="io.realm" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- bugly -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".WXApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:icon,android:label,android:name">

        <activity
            android:name=".activity.WXPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.kiway.android.intent.action.WEEX" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.kiway.android.intent.category.WEEX" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:scheme="wxpage" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MyTabActivity" />
        <activity android:name=".activity.MainActivity2" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcast.NetChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="yjpty.teaching.acitivity.SessionDbDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="yjpty.teaching.acitivity.HeizInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="yjpty.teaching.acitivity.SendWifiNameActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="yjpty.teaching.acitivity.OnSessionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="yjpty.teaching.acitivity.TeachingPlansActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="yjpty.teaching.acitivity.MipcaCaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>


        <receiver android:name="yjpty.teaching.wifi.WifiReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.RSSI_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- IM -->
        <activity android:name="cn.kwim.mqttcilent.BaseActivity" />
        <activity android:name="cn.kwim.mqttcilent.KiwayMainActivity" />
        <activity android:name="cn.kwim.mqttcilent.app_ui.home_school.group.GroupInformationActivity" />
        <activity android:name="cn.kwim.mqttcilent.common.views.preview.PicturePreviewActivity" />
        <activity
            android:name="cn.kwim.mqttcilent.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />

        <service
            android:name="cn.kwim.mqttcilent.mqttclient.PushService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="cn.kwim.mqttcilent.app_ui.home_school.ChatActivity" />
        <activity
            android:name="cn.kwim.mqttcilent.app_ui.home_school.group.GroupMemberActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="cn.kwim.mqttcilent.app_ui.home_school.friend.FriendListActivity" />
        <activity android:name="cn.kwim.mqttcilent.app_ui.home_school.group.GroupOtherActivity" />
        <activity android:name="cn.kwim.mqttcilent.app_ui.home_school.friend.AddFriendOrGroupActivity"></activity>

        <activity android:name="cn.kwim.mqttcilent.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.kwim.mqttcilent.app_ui.home_school.group.CreatePersonGroupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor" />
        <activity
            android:name="cn.kwim.mqttcilent.app_ui.home_school.group.SelectClassGroupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor" />

    </application>

</manifest>